<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change passwors</title>
</head>

<body>
    <div style="height: 500px; margin-left:auto; margin-right:auto; text-align: center;">
        <h1 style="font-size: 24px;">Zmiana hasła</h1>
        <table style="margin-left:auto; margin-right:auto;">
            <tr>
                <td>
                    <div class="btn-bg">
                        <a class="btn" href="{{link}}"
                            style="font-size: 33px; color: black; cursor: pointer; text-decoration: none;">Zmień hasło</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>